body {
    background-color: blue;
    color: white;
 }
 .h1{ color: aqua;background-color: ;

 }
 .h2{ color: rgb(197, 22, 153);
    background-color: aliceblue;
 }
 
 .ejemplo-eticketa-bloque{background-color: rgb(179, 236, 87);
 }

 .ejemplo-eticketa-línea{background-color: black;
 }
